.limon{
    width: 49%;
    display:inline-block;
}
.MoMo{
    width: 49%;
    display:inline-block;
}
.banana{
    width:49% ;
    display:inline-block;
}
.Dodo{
    width:49% ;
    display:inline-block;
}
.bonbon{
    width:49% ;
    display:inline-block;
}
